<!DOCTYPE HTML>
<!--
	UI theme adapted from:
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>BaseCamp Jobs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/home/basecamp/Spring-project/Jobboard/css" />
    <link rel="stylesheet" href="/Jobboard/css">
    <link rel="stylesheet" href="/home/basecamp/web_dev/vscode-java/basecampnomination/css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <noscript> <link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <style>
    #nav {
        background-color: #3b1b0C;

    }

    #image {
        vertical-align: middle;
    }

    #info {
        margin: 1rem 8rem 0rem 8rem;
    }

    img {
        width: 100%;
    }
    .container-lg {
        background-image: url("https://basecampcodingacademy.org/images/header-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .nav-link {
        color: #999898;
    }
    .li{
            list-style: none;
            width: 30%;
            height: 5rem;
<!--            display: inline-block;-->
        }
    #pics{
        width: 7rem;
        height: 7rem;
    }

    .item{
        list-style: none;
        width: 19rem;
        height: 10rem;
    }


    @media only screen and (max-width: 880.5px) {
        body{
            width: 100%;
            padding: 0px;
        }

        #info {
            font-size: .8rem;
            width: 97%;
            margin: 1rem .5rem 0rem .5rem;
        }

        #info h1 {
            font-size: 1.3rem;
        }

        #nav *{
            font-size: 1rem;
            margin: 0rem;

        }
        #list {
            margin: 0rem;
            display: flex;
        }
        .li{
            display: flex;
            list-style: none;
        }


    }



</style></head>



<body>
<nav id="nav" class="navbar navbar-expand-lg sticky-top">
    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="list" class="navbar-nav mr-auto">

            <li class="nav-item active">
                <h3><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></h3>
            </li>
            <li class="nav-item mr-auto ml-5">
                <h3><a class="nav-link" href="/CreatePost">Add Job</a></h3>
            </li>

        </ul>
    </div>
</nav>
<div class="container-lg">
    <div class="col-12 row">

        <a class="my-5 mx-auto" href="#"><img id="image" src="https://basecampcodingacademy.org/images/header-logo.png" ></a>

    </div>
</div>
<div class="container border border-dark rounded p-3">
    <div class="d-flex">
        <input class="input-group w-60" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        </div>

    <ul  id="myUL">

            <div id="Post" class="container d-flex justify-content-center">
            {{#postings}}
                <li id="li" class="item border border-dark rounded m-2 p-1">
                    <a href="/{{id}}" target="" class="d-flex">
                        <div>
                            <img id="pics" src="{{imageURL}}"><p>{{PostDate}}</p>
                        </div>
                        <div class="ml-2">
                            <p>{{CompanyName}}</p>
                            <p>{{JobPosition}}</p>
                            <p>{{Location}}</p>
                        </div>
                    </a>
                    <div>

                        <button class="btn" id="delete" onclick="deleteit()">Delete</button>
                    </div>
                </li>
            {{/postings}}
            </div>

    </ul>
</div>
<script src="/js/home.js"></script>
</body>

</html>
